/* General CSS */
h1, h2, h3, h4, h5, h6 {
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
    color: white;
}
              
p {
    font-family: "Arial", "Arial", Gadget, sans-serif;
    text-decoration: none;
}

a {
    font-family: "Arial", "Arial", Gadget, sans-serif;
    color: white;
    text-decoration: none;
}

body {
    background-color: #FF3333;
    margin: 0px;
    padding: 0px;
}
    


/*** Colors ***/

.black  {background-color: #141414;}
.red1   {background-color: #A21F16;}
.red2   {background-color: #FF3333;}
.yellow {background-color: #FCBA04;}
.white  {background-color: #EBEBEB;}





/*** Navbar ***/

nav #navbar {
    height: 75px;
    background-color: #141414;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.navbar-items {
    display: flex;
    justify-content: flex-end;
}

#navbar a {
    display: block;
    height: 100%;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    color: #FFF;
}

#navbar .navbar-items a:hover {
    transition: all 0.2s ease-in-out;
    color: #000;
}

#navbar h3 {
    padding: calc(37.5px - 26.4px/2);
    margin: 0;
}

#navbar .navbar-items a:hover h3 {
    background-color: #FF3333;
    padding: calc(37.5px - 26.4px/2 - 10px);
    margin: 10px;
    transition: all 0.3s ease-in-out;
    color: #000;
    border-radius: 10px;
}

.navbar-sitename {
    float: left;
}


/*** footer ***/
footer {
    height: 175px;
    width: 100%;
    padding-top: 0px;
    display: flex;
    flex-direction: row;
    position: static;
    bottom: 0;
}

footer .namen {
    width: 50%;
}

footer .namen p{
    padding-left: 20px;
    width: 100%;
}

footer .block {
    padding: 10px;
    margin-top: 75px;
    width: 50%;
    height: 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

footer h4, footer p {
    color: white;
    padding-left: 20px;
}

.informatie-footer {
    margin-top: 902px;
}






/** Home **/

/** Home | Hero **/
.home .hero {
    background-image: url(./images/technovium-nijmegen.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    height: 750px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.home .hero h1, .home .hero h2 {
    margin: 0px;
    padding: 0px;
    color: #FFF;
    transition: all .2s ease-in;
}

.home #heroname {
    margin: 0px;
    padding: 0px;
    color: #fff;
    transition: all .2s ease-in;
}

.custom-shape-divider-bottom-1662291872 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    margin-bottom: -2px;
}

.custom-shape-divider-bottom-1662291872 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 153px;
}

.custom-shape-divider-bottom-1662291872 .shape-fill {
    fill: #FF3333;
}


.home .summary {
    background-color: #FF3333;
    padding: 40px 0 20px 20px;
}

.home .summary h2, .home .summary p {
    margin: 0;
    padding: 0;
    color: #000;
}

















/** modules **/

/** modules hero **/

#slbhero {background-image: url(./images/slb.jpg);}
#webhero {background-image: url(./images/website.jpg);}
#enghero {background-image: url(./images/engels.jpg);}
#nedhero {background-image: url(./images/nederlands.jpg);}
#rekhero {background-image: url(./images/rekenen.png);}
#burhero {background-image: url(./images/burgerschap.jpg);}
#toolhero {background-image: url(./images/tools.jpg);}
#icthero {background-image: url(./images/ict.jpg);}
#proghero {background-image: url(./images/programmeren.jpg);}

.modinfo .hero {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 350px;
    width: auto;
}

.modinfo .summary {
    height: 10vh;
}

.modinfo #heroname {
    margin: 0px;
    padding: 0px;
    color: #000;
    transition: all .2s ease-in;
}

.modinfo .overlay {
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(255,51,51,0.47102591036414565) 62%, rgba(255,51,51,1) 100%);
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}











/** modules main **/
.modules main {
padding-top: 75px;
height: 100vh;
}

.modules .mod {
color: #FFF;
width: 29%;
height: 29%;
margin: 1%;
padding-left: 20px;
transition: 1s;
border-radius: 10px;
background-size: 200%;
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: flex-end;
align-items: stretch;
align-content: stretch;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
margin: 10px;
    transition: all 0.3s;
}

.modules .mod:hover {
    width: 30%;
    height: 30%;
    margin: 0;
    transition: all 0.3s;
}

.modules #bwebsite {background-image: url(./images/website.jpg);}
.modules #bprogrammeren {background-image: url(./images/programmeren.jpg);}
.modules #bict {background-image: url(./images/ict.jpg);}
.modules #btools {background-image: url(./images/tools.jpg);}
.modules #bnederlands {background-image: url(./images/nederlands.jpg);}
.modules #bengels {background-image: url(./images/engels.jpg);}
.modules #bburgerschap {background-image: url(./images/burgerschap.jpg);}
.modules #brekenen {background-image: url(./images/rekenen.png);}
.modules #bslb {background-image: url(./images/slb.jpg);}
    
.modules .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
}

.modules .linkmod {
    padding-left: 5%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 95%;
}

/** modules info **/

.modinfo .summary {
    background-color: #FF3333;
    padding: 40px 0 20px 20px;
}

.modinfo .summary h2, .modinfo .summary p {
    margin: 0;
    padding: 0;
    color: #000;
}

.modinfo .summary p {
    margin: 0;
    padding: 0;
    color: #000;
    width: 70%;
}

.modinfo .uitleg {
    width: 44%;
    margin: 1%;
    padding: 1%;
    border-radius: 10px;

}
    .modinfo .maininfo {
    margin-top: 35px;
    padding: 5px;
    width: 86%;
    padding: 2%;
    margin-left: 5%;

    border-radius: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

.modinfo .maininfo img {
    width: 50%;
    margin: 1%;
    border-radius: 10px;
}

.modinfo .maininfo table {
    font-family: "Arial", "Arial", Gadget, sans-serif;
    width: 48%;
}




















/** informatie **/

/** informatie | Hero **/

.informatie .hero {
    background-image: url(./images/technovium-nijmegen.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    height: 350px;
    width: auto;
}

.informatie .hero h1, .informatie .hero h2 {
    margin: 0px;
    padding: 0px;
    color: #FFF;
    transition: all .2s ease-in;
}

.informatie #heroname {
    margin: 0px;
    padding: 0px;
    color: #000;
    transition: all .2s ease-in;
}

.informatie .overlay {
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(255,51,51,0.47102591036414565) 62%, rgba(255,51,51,1) 100%);
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.informatie .summary {
    background-color: #FF3333;
}

.informatie .summary h2, .informatie .summary p {
    color: #000;
    text-align: center;
}


.informatie h2 {
    margin-top: 0;
    padding-top: 20px;
}

.informatie p {
    margin-left: 30px;
    width: 80% !important;
    margin-left: 10%;
}

/* Informatie | Locatie */

.locatie {
    width: 100%;
    border-radius: 10px;
}

.locatie p {
    text-align: center;
}

.mapouter {
    position: relative;
    height: 500px;
    width: 90%;
    margin-top: 30px;
    margin-left: 5%;
    border-radius: 10px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 500px;
    width: 100%;
    border-radius: 10px;
}

.gmap_canvas iframe {
    overflow: hidden;
    background: none !important;
    height: 500px;
    width: 100%;
    border-radius: 10px;
}



/* Seperator1 */
.separator1 {
    --width: 100%;
    --height: 100px;
    --top-color: #FF3333;
    --bottom-color: #A21F16;
}

.separator1 .separator {
    margin-bottom: -5px !important;
    margin-top: 20px !important;
    margin: 0;
    position: relative;
    width: var(--width);
    height: var(--height);
}

.separator1 .separator::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--top-color);
    clip-path: polygon(100% 0, 0 0, 0 100%);
}

.separator1 .separator::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--bottom-color);
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
}




/* Informatie | Plategrond */

.plategrond {
    text-align: center;
    width: 100%;
    background-color: #A21F16;
    padding-bottom: 30px;
}

.plategrond h2 {
    color: #000 !important;
    margin-left: 0;
}

.plategrond p {
    width: 100% !important;
    margin-bottom: 30px;
    margin-left: 0;
    color: #000 !important;
}

.plategrond a {
    margin: 10px;
    padding: 20px;
    background-color: #FCBA04;
    color: #000;
    border-radius: 10px;
    transition: all 0.3s;
}

.plategrond a:hover {
    margin: 15px;
    padding: 15px;
    background-color: #FCBA04;
    color: #000;
    border-radius: 10px;
    transition: all 0.3s;
}

/* Seperator2 */
.separator2 {
    --width: 100%;
    --height: 100px;
    --top-color: #A21F16;
    --bottom-color: #FF3333;
}

.separator2 .separator {
    margin-top: -2px;
    position: relative;
    width: var(--width);
    height: var(--height);
}

.separator2 .separator::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--top-color);
    clip-path: polygon(100% 0, 0 0, 0 100%);
}

.separator2 .separator::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--bottom-color);
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

/**/

/* Seperator3 */
.separator3 {
    --width: 100%;
    --height: 100px;
    --top-color: #FF3333;
    --bottom-color: #FCBA04;
}

.separator3 .separator {
    margin-bottom: -2px;
    margin-top: 20px;
    position: relative;
    width: var(--width);
    height: var(--height);
}

.separator3 .separator::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--top-color);
    clip-path: polygon(100% 0, 0 0, 0 100%);
}

.separator3 .separator::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--bottom-color);
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
}


/* Informatie | Impressie */

.impressie {
    text-align: center;
    width: 100%;
    background-color: #FCBA04;
    padding-bottom: 30px;
}

.impressie h2 {
    color: #000 !important;
    margin-left: 0;
}

.impressie p {
    width: 100% !important;
    margin-bottom: 30px;
    margin-left: 0;
    color: #000 !important;
}

.impressie .flex-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.impressie .flex-box div {
    width: 46%;
    min-height: 200px;
    border-radius: 10px;
    margin: 20px 0;
    background-color: #A21F16;
    text-align: left;
}

.impressie .flex-box div h3 {
    margin-left: 80px;
    margin-top: calc(40px - 26.4px / 2);
    margin-bottom: calc(40px - 26.4px / 2);
}

.impressie .flex-box div p {
    margin: 40px 0 20px 20px;
    color: #fff !important;
    width: 90% !important;
    text-align: left;
}

.impressie .flex-box div img {
    display: inline;
    height: 75px;
    width: 75px;
    margin: 5px 5px 0 5px;
    border-radius: 1000px;
    float: left;
}


/* Seperator4 */
.separator4 {
    --width: 100%;
    --height: 100px;
    --top-color: #FCBA04;
    --bottom-color: #141414;
}

.separator4 .separator {
    margin-top: -2px;
    position: relative;
    width: var(--width);
    height: var(--height);
}

.separator4 .separator::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--top-color);
    clip-path: polygon(100% 0, 0 0, 0 100%);
}

.separator4 .separator::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--bottom-color);
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
}
















/** Programmeertalen **/

/** Programmeertalen | Hero **/

.htmlcss .hero {
    background-image: url(./images/html.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    height: 350px;
    width: auto;
}

.htmlcss .hero h1,
.htmlcss .hero h2 {
    margin: 0px;
    padding: 0px;
    color: #FFF;
    transition: all .2s ease-in;
}

.htmlcss #heroname {
    margin: 0px;
    padding: 0px;
    color: #FFF;
    transition: all .2s ease-in;
}

.htmlcss .overlay {
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(255,51,51,0.47102591036414565) 62%, rgba(255,51,51,1) 100%);
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.htmlcss .summary {
    background-color: #FF3333;
    padding-top: 30px;
    height: 200vh;
}

.summary {
    background-color: #FF3333;
    padding-top: 30px;
    height: 180vh;
}

.summary h2, .htmlcss .summary p {
    margin: 0;
    padding: 0;
    color: #000;
}


/** HTML/CSS | Programmeertalen **/


.htmlcss .watis {
    text-align: center;
    width: 600px;
    height: 600px;
    background-color: #A21F16;
    margin: 30px;
    margin-left: 20%;
    border-radius: 100000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.htmlcss .watis p {
    width: 90%;
}

.htmlcss .watis2 {
    float: left;
    text-align: center;
    width: 500px;
    height: 500px;
    background-color: #FCBA04;
    margin: 30px;
    margin-left: 40%;
    margin-top: -220px;
    border-radius: 100000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.htmlcss .watis2 p {
    width: 90%;
}



.htmlcss .opleiding {
    float: left;
    text-align: center;
    width: 500px;
    height: 500px;
    background-color: #2f2f2f;
    margin: 30px;
    margin-left: 15%;
    margin-top: -250px;
    border-radius: 100000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 8;
}

.htmlcss .opleiding h2 {
    width: 90%;
    color: #fff !important;
}

.htmlcss .opleiding p {
    width: 90%;
    color: #fff !important;
}



.htmlcss .bedrijven {
    float: left;
    text-align: center;
    width: 600px;
    height: 600px;
    background-color: #EBEBEB;
    margin: 30px;
    margin-left: 45%;
    margin-top: -380px;
    border-radius: 100000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 7;
}

.htmlcss .bedrijven h2 {
    width: 90%;
    color: #000 !important;
}

.htmlcss .bedrijven p {
    width: 90%;
    color: #000 !important;
}


/** Java | Programmeertalen **/

.java .hero {
    background-image: url(./images/java.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    height: 350px;
    width: auto;
}

.java .hero h1, .informatie .hero h2 {
    margin: 0px;
    padding: 0px;
    color: #FFF;
    transition: all .2s ease-in;
}

.java #heroname {
    margin: 0px;
    padding: 0px;
    color: #FFF;
    transition: all .2s ease-in;
}

.java .overlay {
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(255,51,51,0.47102591036414565) 62%, rgba(255,51,51,1) 100%);
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.java .summary {
    background-color: #FF3333;
    padding: 40px 0 20px 20px;
}

.java .summary h2, .java .summary p {
    margin: 0;
    padding: 0;
    color: #000;
}



    /** JavaScript | Programmeertalen **/

    .javascript .hero {
    background-image: url(./images/javascript.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 350px;
    width: auto;
}

.javascript .hero h1, .informatie .hero h2 {
    margin: 0px;
    padding: 0px;
    color: #FFF;
    transition: all .2s ease-in;
}

.javascript #heroname {
    margin: 0px;
    padding: 0px;
    color: #FFF;
    transition: all .2s ease-in;
}

.javascript .overlay {
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(255,51,51,0.47102591036414565) 62%, rgba(255,51,51,1) 100%);
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


/** PHP | Programmeertalen **/

.php .hero {
    background-image: url(./images/php.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 350px;
    width: auto;
}

.php .hero h1, .informatie .hero h2 {
    margin: 0px;
    padding: 0px;
    color: #FFF;
    transition: all .2s ease-in;
}

.php #heroname {
    margin: 0px;
    padding: 0px;
    color: #FFF;
    transition: all .2s ease-in;
}

.php .overlay {
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(255,51,51,0.47102591036414565) 62%, rgba(255,51,51,1) 100%);
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.php .summary {
    background-color: #FF3333;
    padding: 40px 0 20px 20px;
}

.php .summary h2, .php .summary p {
    margin: 0;
    padding: 0;
    color: #000;
}




/** React | Programmeertalen **/

.react .hero {
    background-image: url(./images/react.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 350px;
    width: auto;
}

.react .hero h1, .informatie .hero h2 {
    margin: 0px;
    padding: 0px;
    color: #FFF;
    transition: all .2s ease-in;
}

.react #heroname {
    margin: 0px;
    padding: 0px;
    color: #FFF;
    transition: all .2s ease-in;
}

.react .overlay {
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(255,51,51,0.47102591036414565) 62%, rgba(255,51,51,1) 100%);
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}





/** SQL | Programmeertalen **/

.sql .hero {
    background-image: url(./images/sql.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 350px;
    width: auto;
}

.sql .hero h1, .informatie .hero h2 {
    margin: 0px;
    padding: 0px;
    color: #FFF;
    transition: all .2s ease-in;
}

.sql #heroname {
    margin: 0px;
    padding: 0px;
    color: #FFF;
    transition: all .2s ease-in;
}

.sql .overlay {
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(255,51,51,0.47102591036414565) 62%, rgba(255,51,51,1) 100%);
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}




/** Other Pages | Programmeertalen **/


.watis {
    text-align: center;
    width: 600px;
    height: 600px;
    background-color: #A21F16;
    margin: 30px;
    margin-left: 20%;
    border-radius: 100000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.watis p {
    width: 90%;
}


.opleiding {
    float: left;
    text-align: center;
    width: 600px;
    height: 600px;
    background-color: #FCBA04;
    margin: 30px;
    margin-left: 45%;
    margin-top: -220px;
    border-radius: 100000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 8;
}

.opleiding h2 {
    width: 90%;
    color: #000 !important;
}

.opleiding p {
    width: 90%;
    color: #000 !important;
}



.bedrijven {
    float: left;
    text-align: center;
    width: 600px;
    height: 600px;
    background-color: #EBEBEB;
    margin: 30px;
    margin-left: 12%;
    margin-top: -380px;
    border-radius: 100000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 7;
}

.bedrijven h2 {
    width: 90%;
    color: #000 !important;
}

.bedrijven p {
    width: 90%;
    color: #000 !important;

}