/* Nav */
h1, h2, h3, h4, h5, h6 {
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
}
              
p {
    font-family: "Arial", "Arial", Gadget, sans-serif;
}
    



.black {
    background-color: #20272b;
}

.red1 {
    background-color: #A21F16;
}

.red2 {
    background-color: #FF3333;
}

.yellow {
    background-color: #FCBA04;
}

.white {
    background-color: #EBEBEB;
}





nav #navbar {
    height: 75px;
    background-color: #20272b;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.navbar-items {
    display: flex;
    justify-content: flex-end;
}

#navbar a {
    display: block;
    height: 100%;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    color: #FFF;
}

#navbar .navbar-items a:hover {
    transition: all 0.3s ease-in-out;
    color: #000;
}

#navbar h3 {
    padding: calc(37.5px - 26.4px/2);
    margin: 0;
}

#navbar .navbar-items a:hover h3 {
    background-color: #FF3333;
    padding: calc(37.5px - 26.4px/2 - 10px);
    margin: 10px;
    transition: all 0.3s ease-in-out;
    color: #000;
    border-radius: 10px;
}

.navbar-sitename {
    float: left;
}






/** Home **/

/* Body */
body {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: #FFF;
}


/** Home | Hero **/
.home .hero {
    background-image: url(./images/technovium-nijmegen.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    height: 750px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.home .hero h1, .home .hero h2 {
    margin: 0px;
    padding: 0px;
    color: #FFF;
    transition: all .2s ease-in;
}

.home #heroname {
    margin: 0px;
    padding: 0px;
    color: #FFF;
    transition: all .2s ease-in;
}

.custom-shape-divider-bottom-1662291872 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    margin-bottom: -2px;
}

.custom-shape-divider-bottom-1662291872 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 153px;
}

.custom-shape-divider-bottom-1662291872 .shape-fill {
    fill: #FF3333;
}

.home .summary {
    background-color: #FF3333;
    padding: 40px 0 20px 20px;
}

.home .summary h2, .home .summary p {
    margin: 0;
    padding: 0;
}



