/* General CSS */
h1, h2, h3, h4, h5, h6 {
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
    color: white;
}
              
p, a {
    font-family: "Arial", "Arial", Gadget, sans-serif;
    color: white;
    text-decoration: none;
}

body {
    background-color: #2f2f2f;
    margin: 0px;
    padding: 0px;
}
    


/*** Colors ***/

.black  {background-color: #141414;}
.red1   {background-color: #A21F16;}
.red2   {background-color: #FF3333;}
.yellow {background-color: #FCBA04;}
.white  {background-color: #EBEBEB;}





/*** Navbar ***/

nav #navbar {
    height: 75px;
    background-color: #141414;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.navbar-items {
    display: flex;
    justify-content: flex-end;
}

#navbar a {
    display: block;
    height: 100%;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    color: #FFF;
}

#navbar .navbar-items a:hover {
    transition: all 0.2s ease-in-out;
    color: #000;
}

#navbar h3 {
    padding: calc(37.5px - 26.4px/2);
    margin: 0;
}

#navbar .navbar-items a:hover h3 {
    background-color: #FF3333;
    padding: calc(37.5px - 26.4px/2 - 10px);
    margin: 10px;
    transition: all 0.3s ease-in-out;
    color: #000;
    border-radius: 10px;
}

.navbar-sitename {
    float: left;
}






/** Home **/

/** Home | Hero **/
.home .hero {
    background-image: url(./images/technovium-nijmegen.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    height: 750px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.home .hero h1, .home .hero h2 {
    margin: 0px;
    padding: 0px;
    color: #FFF;
    transition: all .2s ease-in;
}

.home #heroname {
    margin: 0px;
    padding: 0px;
    color: #fff;
    transition: all .2s ease-in;
}

.custom-shape-divider-bottom-1662291872 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    margin-bottom: -2px;
}

.custom-shape-divider-bottom-1662291872 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 153px;
}

.custom-shape-divider-bottom-1662291872 .shape-fill {
    fill: #FF3333;
}

/*.home .overlay {
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(255,51,51,0.47102591036414565) 62%, rgba(255,51,51,1) 100%);
    width: 100%;
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}*/


.home .summary {
    background-color: #FF3333;
    padding: 40px 0 20px 20px;
}

.home .summary h2, .home .summary p {
    margin: 0;
    padding: 0;
    color: #000;
}

/** modules **/

/** modules hero **/

#webhero 
{
background-image: url(../../images/slb.jpg);
}
.modinfo .hero {
background-repeat: no-repeat;
background-position: center;
background-size: cover;
height: 350px;
width: auto;
}

.modinfo #heroname {
margin: 0px;
padding: 0px;
color: #000;
transition: all .2s ease-in;
}

.modinfo .overlay {
background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(255,51,51,0.47102591036414565) 62%, rgba(255,51,51,1) 100%);
width: 100%;
height: 350px;
display: flex;
align-items: center;
justify-content: center;
position: relative;
}

/** modules main **/

.modinfo .summary {
background-color: #FF3333;
padding: 40px 0 20px 20px;
}

.modinfo .summary h2, .modinfo .summary p {
margin: 0;
padding: 0;
color: #000;
}

.modinfo .summary p {
margin: 0;
padding: 0;
color: #000;
width: 70%;
}

.modinfo .uitleg {
    width: 44%;
    margin: 1%;
    padding: 1%;
    border-radius: 10px;

}
.modinfo .maininfo {
    margin-top: 35px;
    padding: 5px;
    width: 86%;
    padding: 2%;
    margin-left: 5%;

    border-radius: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

.modinfo .maininfo img {
    width: 50%;
    margin: 1%;
    border-radius: 10px;
}

.modinfo .maininfo table {
    font-family: "Arial", "Arial", Gadget, sans-serif;
    width: 48%;
    



/** informatie **/

/** informatie | Hero **/
.informatie .hero {
    background-image: url(./images/technovium-nijmegen.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    height: 350px;
    width: auto;
}

.informatie .hero h1, .informatie .hero h2 {
    margin: 0px;
    padding: 0px;
    color: #FFF;
    transition: all .2s ease-in;
}

.informatie #heroname {
    margin: 0px;
    padding: 0px;
    color: #000;
    transition: all .2s ease-in;
}

.informatie .overlay {
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(255,51,51,0.47102591036414565) 62%, rgba(255,51,51,1) 100%);
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.informatie .summary {
    background-color: #FF3333;
}

.informatie .summary h2, .informatie .summary p {
    color: #000;
}


/* Informatie | Locatie */

.locatie {
    width: 100%;
    border-radius: 10px;
}

.locatie h2 {
    margin-top: 0;
    margin-left: 20px;
    padding-top: 20px;
}

.locatie p {
    margin-left: 30px;
    width: 70% !important;
}

.mapouter {
    position: relative;
    height: 500px;
    width: 90%;
    margin-top: 30px;
    margin-left: calc(5% - 40px);
    border-radius: 10px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 500px;
    width: 100%;
    border-radius: 10px;
}

.gmap_canvas iframe {
    overflow: hidden;
    background: none !important;
    height: 500px;
    width: 100%;
    border-radius: 10px;
}



/* Seperator2 */
.separator1 {
    --width: 100%;
    --height: 100px;
    --top-color: #FF3333;
    --bottom-color: #A21F16;
}

.separator {
    margin-top: 20px;
    position: relative;
    width: var(--width);
    height: var(--height);
}

.separator::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--top-color);
    clip-path: polygon(100% 0, 0 0, 0 100%);
}

.separator::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--bottom-color);
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
}




/* Informatie | Plategrond */

.plategrond {
    width: 100%;
    border-radius: 10px;
    margin-top: 40px;
    background-color: #A21F16;
}

.plategrond p {
    width: 100%;
    margin-bottom: 30px;
}

.plategrond a {
    margin: 10px;
    padding: 20px;
    background-color: #A21F16;
    color: #fff;
    border-radius: 10px;
    transition: all 0.3s;
}

.plategrond a:hover {
    margin: 15px;
    padding: 15px;
    background-color: #A21F16;
    color: #fff;
    border-radius: 10px;
    transition: all 0.3s;
}
